body {background-color:tan;}
h1{color:green; font-family:verdana}

.maindiv {
    background-color: rgb(17, 17, 17);
    color: rgb(185, 134, 134);
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}
